/*---MAIN-INDEX---*/
#banner-index {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50vh;
    color: white;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/index1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    .focus-in-expand {
        animation: focus-in-expand 2s 2s infinite ;
    }

    .banner-index-text {    
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        position: absolute;
        align-items: center;
        font-weight: bold;
        font-size: 60px;
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
    }
}
.segunda-barra_index , .tex-h3{
    font-family:'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    color: white;
    font-size:40px;
    font-weight: 700;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    background-color: #ff6600;
    padding: 10px 20px;
}
.style-img{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-around;
    align-items: center;
}

#cards-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2%;

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.btn-index {
    background-color:rgb(253, 122, 0);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;

    &:hover {
        background-color: #cc5200;
    }
}

.card{
    transition: transform 0.3s;

    &:hover {
        transform: scale(1.05);
    }
}