$titulo-principal:60px;
$titulo-secundario:40px;
$h3: 20px;
$color-principal:rgb(60, 60, 60);
$color-secundario:rgba(226, 226, 226, 0.795);
$color-acento:rgb(253, 122, 0);

@import "presets/reset";
@import "presets/header";
@import "presets/main";
@import "presets/footer";
@import "presets/queries";

@import "index";