/*---BANNER ZAPATILLAS---*/
#banner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50vh;
    color: white;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/zapatillas-banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    .banner-zapa-text{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        position: absolute;
        align-items: center;
        font-weight: bold;
        font-size: 60px;
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
    }
}

/*----BARRA OPCIONES ZAPATILLAS----*/
#inicio__contenidoh3 {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(253, 122, 0);
    padding: 15px;
    color:white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
}
#main-zapatillas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5%;
    border-radius: 10%;
}
/*LANZAMIENTOS*/

/*--MAIN--*/

.titulo-lanzamiento , .titu_secun-lanzamiento{
    font-family:'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    color:white;
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    background-color:rgb(253, 122, 0);
    padding: 10px 20px;
}
/*CARTAS LANZAMIENTO*/
.cards-lanzamientos , #main-zapatillas{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
/* Contenedor de tarjetas de productos */
.product-card , .card-zapatillas {
    background-color:white;
    padding: 1rem;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
    margin: 1rem;

    &:hover {
        transform: scale(1.05);
    }

    img {
        max-width: 100%;
        border-radius: 8px;
    }

    h3 {
        font-size: 1.2rem;
        margin: 0.5rem 0;
        color: white;
    }

    p {
        font-size: 1rem;
        color: #555;
        margin: 0.5rem 0;
    }

    button {
        background-color: #ff6600;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s;

        &:hover {
        background-color: #cc5200;
        }
    }
}
/*BANNER LANZAMIENTO*/
.full-width-image {
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url(/images/lamzamiento4.png);
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease;
    display: flex;
    align-items: center;

    .zoom-image:hover {
        transform: scale(2);
    }
}

.full-width-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-size: 4rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    padding-left: 12%;
}

/*PERFIL*/

.formulario{
    padding: 40px; 
    color: white;
}
.form-label , .form-check{
    margin-bottom: 30px;
    margin-bottom: 15px; 
    padding: 10px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
}

.button-perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-confirmacion {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    width: 200px;

    &:hover {
        background-color: #cc5200;
    }
}
.image-container{
    padding: 15px;
}

#body-perfil{
    background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/fondo-perfil.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 1400px;

}


