* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    max-width: $max-width;
    font-family: $font-family;
}

/*ESTILOS BODY*/
body {
    background-color: $color-secundario;
}

/*ESTILOS NAVBAR*/
.navbar {
    background-color: $color-principal;
    font-size: larger;

/*ESTILOS NAVBAR-BRAND*/
    .navbar-brand {
    padding-left: 50px;
    }

/*LINKS*/
    .nav-link {
    color: white;
    }

/*NAVBAR-BRAND Y LINKS*/
    .navbar-brand {
    color: white;
    }
}

/*NAV IMG*/
nav {
    img {
    width: 65px;
    }
}

/*ESTILOS A*/
a {
    padding-left: 15%;
}

/*ESTILOS MAIN*/
#main {
    min-height: 100vh;
}