* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    max-width: 1400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*ESTILOS BODY*/
body {
    background-color: rgba(226, 226, 226, 0.795);
    padding-top: 60px;
}

/*ESTILOS MAIN*/
#main {
    min-height: 100vh;
    padding-top: 60px;
}